# Django project files
*.log
*.pot
*.pyc
__pycache__/
local_settings.py

# Static files
/staticfiles/
!.gitkeep

# Media files
/media/

# Database
*.sqlite3

# Secret key
.secret_key

# Virtual environment
venv/

# Environment variable files
.env
.env.*